/.vscode
/ada.py
/ago_coba.py
/algotm.py
/cobaprojek.py
/coba_lagi.py
/datamaha.csv
/dataMahasiswa.csv
/F_252410102091_Osama Nur Mohamad_REMIDI UTS.py
/F_252410102091_Osama_Nur Mohamad_TugasPR4.py
/F_252410102091_osama_tugas1.py
/kalkulator.py
/mahasiswa.csv
/panda.py